<?xml version="1.0" encoding="UTF-8"?>
<Installer>
     <Name>GSView 6.0</Name>
     <Version>6.0</Version>
     <Title>GSView 6.0 Installer</Title>
     <Publisher>Artifex Software</Publisher>
     <StartMenuDir>GSView 6.0</StartMenuDir>
     <TargetDir>/Applications/GSView 6.0</TargetDir>
     <MaintenanceToolName>Uninstaller</MaintenanceToolName>
</Installer>
